.header__lang {
    margin: 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    float: left;
    text-decoration: none;
}
.header__lang:last-child {
    margin-left: 18px;
}
.header__lang:hover {
    text-decoration: underline;
}
@media screen and (max-width: 1280px){
    .header__lang {
        max-width: 30px;
        max-height: 28px;
        font-size: 24px;
        line-height: 28px;
    }
}
@media screen and (max-width: 320px) {
   .header__lang {
        max-width: 22px;
        max-height: 20px;
        font-size: 18px;
        line-height: 20px;
   }  
}