.intro__list {
    margin: 0 0;
    padding: 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
    max-width: 100%;
    max-height: max-content;
    margin-top: 33px;
}
@media screen and (max-width: 767px) {
    .intro__list {
        margin-top: 34px;
    }
}