.footer__links-spisok {
    margin: 0 0;
    padding: 0 0;
    margin-top: 32px;
}
@media screen and (max-width: 1280px) {
    .footer__links-spisok {
        margin-top: 0;
    }
}
@media screen and (max-width: 320px) {
    .footer__links-spisok:first-child{
        margin-top: 0;
    }
}
