.intro__text {
    margin: 0 0;
    max-width: 100%;
    max-height: max-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 40px;
    font-size: 16px;
    line-height: 163%;
}