.place__link {
    margin: 0;
    max-width: 100%;
    max-height: max-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.place__link:hover {
    opacity: 0.8;
}