.photo-grid{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-height: max-content;
    justify-content: center;
    object-fit: cover;
}

@media screen and (max-width: 1280px){
    .photo-grid {
        margin-top: 92px;
        grid-template-columns: repeat(4, max-content);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px 16px;
    }
}
@media screen and (max-width: 1024px){
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 225px);
        gap: 14px 14px;
    }
}
@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        margin-top: 88px;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, 264px);
        gap: 16px 16px;
    }
}
@media screen and (max-width: 320px) {
    .photo-grid {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
        gap: 12px;
    }
}